body {
  margin: 0.75rem;
}

p {
  margin: 0.75rem 0 0;
}

span {
  line-height: 1;
  display: inline-block;
}

small {
  color: #aaa;
  font-size: 9px;
  line-height: 1.25;
  display: inline-block;
}

form {
  width: 100%;
  overflow: hidden;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

label span {
  vertical-align: middle;
}

textarea {
  width: 100%;
  max-width: 30rem;
  box-sizing: border-box;
}

input[type="checkbox"] {
  position: relative;
  vertical-align: middle;
}

.flash {
  color: #999;
}

.flash {
  overflow: hidden;
  max-width: 200px;
  white-space: nowrap;
  padding-left: 0.25rem;
  vertical-align: middle;
  text-overflow: ellipsis;
}

.flash span {
  text-decoration: underline;
}
